/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --mainColor: #f29727;
  --hoverColor: #242526;
  --color1: #eee9e2;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919199;
  --lightTwo: #7b7a7c;
  --lightTre: #f2d6bd;
  --ligthfor: #192e39;
  --ligthfive: #fff;
  --color-switch-base: #7b7a7c;
  --color-switch-circilo: #f29727;
}

.dark-mode {
  --mainColor: #f29727;
  --hoverColor: #1b1b1b;
  --color1: #192e3a;
  --darkOne: #2b2b2b;
  --darkTwo: #3a3a3a;
  --lightOne: #f2d6bd;
  --lightTwo: #c7c7c7;
  --lightTre: #4a5468;
  --ligthfor: #ffffff;
  --ligthfive: #f0f0f0;
  --color-switch-base: #f2d6bd;
  --color-switch-circilo: #f29727;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--lightTre);
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 35px;
}

.header {
  background-image: url(/panel/img/movimientos.svg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  color: var(--ligthfive);
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  color: var(--ligthfive);
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  border-radius: 15px;
}

.header h1, p {
  margin: 20px;
  padding: 20px;
}

.img-mov {
  width: 280px;
  object-fit: cover;
  border-radius: 15px;
}

.historial-list {
  background-color:var(--color1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

.historial-list h2 {
  margin-bottom: 20px;
  color: var(--ligthfor);
}

.historial-list table {
  width: 100%;
  border-collapse: collapse;
}

.historial-list th,
.historial-list td {
  padding: 10px;
  border: 2px solid var(--ligthfor);
  text-align: left;
  color:var(--ligthfor);
}

.historial-list th {
  background-color:var(--color1);
}

.historial-list td {
  background-color:var(--lightTre);
}

.download-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.download-section button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
}

.download-section button i {
  margin-right: 8px;
  font-size: 1.2rem;
}

.download-section button:hover {
  background-color: #e68900;
  transform: scale(1.05);
}

.download-section button:active {
  transform: scale(0.95);
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .main-container {
    padding: 20px;
  }

  .header {
    flex-direction:row;
    height: auto;
    padding: 20px;
  }

  .header h1, p {
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
  }

  .img-mov {
    width: 30%;
    height: auto;
  }

  .historial-list h2 {
    font-size: 1.5rem;
  }

  .download-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and  (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  .header h1, p {
    font-size: 1.2rem;
    text-align: center;
  }

  .download-section {
    align-items: center;
    width: 100%;
  }

  .historial-list th, .historial-list td {
    padding: 8px;
    margin: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    padding: 5px;
  }

  .header h1, p {
    font-size: 0.5rem;
  }

  .historial-list th, .historial-list td {
    padding: 5px;
    font-size: 0.8rem;
  }
.historial-list{
    overflow: scroll;
}
  .download-section button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .download-section button i {
    font-size: 1rem;
  }
}
